<div class="body">
  <div class="head">
      <h4>Level Income</h4>
  </div>
  <div class="tablef">
      <table>
          <tr class="tableHead">
              <th>S. No.</th>
              <th>Level</th>
              <th>Members</th>
              <th>Referral Amount</th>
              <th>Referral Earning</th>
              <th>Activated Members</th>
              <th>Withdrawal Income</th>
          </tr>
          <tr class="tablec" >
              <th>1.</th>
              <th>Level 1</th>
              <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl1?.length}}</th>
              <th> ₹300</th>
              <th> ₹{{Data.lvl1?.length*300}}</th>
              <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
              <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>2.</th>
            <th>Level 2</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl2?.length}}</th>
            <th> ₹65</th>
            <th> ₹{{Data.lvl2?.length*65}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>3.</th>
            <th>Level 3</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl3?.length}}</th>
            <th> ₹50</th>
            <th> ₹{{Data.lvl3?.length*50}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>4.</th>
            <th>Level 4</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl4?.length}}</th>
            <th> ₹40</th>
            <th> ₹{{Data.lvl4?.length*40}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>5.</th>
            <th>Level 5</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl5?.length}}</th>
            <th> ₹30</th>
            <th> ₹{{Data.lvl5?.length*30}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>6.</th>
            <th>Level 6</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl6?.length}}</th>
            <th> ₹25</th>
            <th> ₹{{Data.lvl6?.length*25}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>7.</th>
            <th>Level 7</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl7?.length}}</th>
            <th> ₹20</th>
            <th> ₹{{Data.lvl7?.length*20}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>8.</th>
            <th>Level 8</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl8?.length}}</th>
            <th> ₹20</th>
            <th> ₹{{Data.lvl8?.length*20}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>9.</th>
            <th>Level 9</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl9?.length}}</th>
            <th> ₹15</th>
            <th> ₹{{Data.lvl9?.length*15}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>10.</th>
            <th>Level 10</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl10?.length}}</th>
            <th> ₹15</th>
            <th> ₹{{Data.lvl10?.length*15}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>11.</th>
            <th>Level 11</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl11?.length}}</th>
            <th> ₹10</th>
            <th> ₹{{Data.lvl11?.length*10}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>12.</th>
            <th>Level 12</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{Data.lvl12?.length}}</th>
            <th> ₹10</th>
            <th> ₹{{Data.lvl12?.length*10}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th></th>
            <th>Total</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> {{total}}</th>
            <th> ₹600</th>
            <th> ₹{{totalAmt}}</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> ₹0</th>
          </tr>
      </table>
  </div>
</div>