<div class="body">
  <div class="head">
      <h1>Brokerage Club</h1>
  </div>
  <div class="tablef">
      <table>
          <tr class="tableHead">
              <th>S. No.</th>
              <th>Level</th>
              <th>Eligible Members</th>
              <th>Brokerage %</th>
              <th>Brokerage Amount</th>
          </tr>
          <tr class="tablec" >
              <th>1.</th>
              <th>Level 1</th>
              <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
              <th> 5%</th>
              <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>2.</th>
            <th>Level 2</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon">  0</th>
            <th> 5%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>3.</th>
            <th>Level 3</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 5%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>4.</th>
            <th>Level 4</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 4%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>5.</th>
            <th>Level 5</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 3%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>6.</th>
            <th>Level 6</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 3%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>7.</th>
            <th>Level 7</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 3%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>8.</th>
            <th>Level 8</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 3%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>9.</th>
            <th>Level 9</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 3%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>10.</th>
            <th>Level 10</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 2%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>11.</th>
            <th>Level 11</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 2%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>12.</th>
            <th>Level 12</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 2%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>13.</th>
            <th>Level 13</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th>2%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>14.</th>
            <th>Level 14</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 2%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>15.</th>
            <th>Level 15</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>16.</th>
            <th>Level 16</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>17.</th>
            <th>Level 17</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>18.</th>
            <th>Level 18</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>19.</th>
            <th>Level 19</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
          <tr class="tablec" >
            <th>20.</th>
            <th>Level 20</th>
            <th><img src="../../assets/person-icon.png" alt="" class="icon"> 0</th>
            <th> 1%</th>
            <th> ₹0</th>
          </tr>
      </table>
  </div>
</div>