<div class="body">
    <div>
        <h4 style="color: #3C5EA1;"> Dashboard</h4>
    </div>
    <div class="cont">
        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile>
                <div>
                    <h2>{{count?.length || 0}}</h2>
                    <mat-icon >person</mat-icon>
                    <h3>Your Referrals</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{team?.length || 0}}</h2>
                    <mat-icon>group</mat-icon>
                    <h3>Team Referrals</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{earning || 0}}</h2>
                    <mat-icon>trending_up</mat-icon>
                    <h3>Total earning</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{wallet || 0}}</h2>
                    <mat-icon>account_balance_wallet</mat-icon>
                    <h3>Wallet Balance</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{level || 0}}</h2>
                    <mat-icon>timeline</mat-icon>
                    <h3> Total Referral Income</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{directI || 0}}</h2>
                    <mat-icon>trending_up</mat-icon>
                    <h3>Direct Referral Income</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{0}}</h2>
                    <mat-icon>timeline</mat-icon>
                    <h3>Activated Account</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>{{widthraw || 0}}</h2>
                    <mat-icon>timeline</mat-icon>
                    <h3>Withdrawal Income</h3>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="cont-phone">
        <div>
            <h2>{{count?.length || 0}}</h2>
            <mat-icon >person</mat-icon>
            <h3>Your Referrals</h3>
        </div>
        <div>
            <h2>{{team?.length || 0}}</h2>
            <mat-icon>group</mat-icon>
            <h3>Team Referrals</h3>
        </div>    
        <div>
            <h2>{{earning || 0}}</h2>
            <mat-icon>trending_up</mat-icon>
            <h3>Total earning</h3>
        </div>
        <div>
            <h2>{{wallet || 0}}</h2>
            <mat-icon>account_balance_wallet</mat-icon>
            <h3>Wallet Balance</h3>
        </div>
        <div>
            <h2>{{level || 0}}</h2>
            <mat-icon>timeline</mat-icon>
            <h3>Total Referral Income</h3>
        </div>
        <div>
            <h2>{{directI || 0}}</h2>
            <mat-icon>trending_up</mat-icon>
            <h3>Direct Referral Income</h3>
        </div>
        <div>
            <h2>{{0}}</h2>
            <mat-icon>timeline</mat-icon>
            <h3>Activated Account</h3>
        </div>
        <div>
            <h2>{{widthraw || 0}}</h2>
            <mat-icon>timeline</mat-icon>
            <h3>Withdrawal Income</h3>
        </div>
    </div>
</div>