<div class="body">
    <div class="head">
        <h1>Payout</h1>
    </div>
    <div class="tablef">
        <table>
            <tr class="tableHead">
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Password</th>
            </tr>
            <tr class="tablec" *ngFor="let r of resData">
                <th>{{r.id}}</th>
                <th>{{r.name}}</th>
                <th>{{r.mobile}}</th>
                <th>Null{{r.password}}</th>
            </tr>
        </table>
    </div>
  </div>